<!DOCTYPE html>
<html>
<head> </head>
<body>

    <h2 class="title">Escolha o restaurante do dia: </h2>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Restaurante Cucaracha</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Restaurante Mamma Mia</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Nova Brescia</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Pizza do João</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
</div>

</body>
</html>
