<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <main id="main-holder">
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Usuário ou senha inválidos </p>
    </div>
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Usuario">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Senha">
      <input type="submit" value="Login" id="login-form-submit">
    </form>
  
  </main>
</body>

</html>